@charset "utf-8";

* {
  box-sizing: border-box;
}
body{
	margin:0;
	padding-right: 15%;
	padding-left: 15%;
	text-align: center;
	background-color:#FFFFFF;
	color:#000000;
	font-size: 2.0vw;
	background-image: url("ballislife.jpg");
  	background-repeat: no-repeat;
	background-size: contain;
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	color:#FFFFFF;
	text-shadow: 0px 0px 5px #000000;
}
h2 {
	margin-top: 14%;
	line-height: 20%;
	text-align: left;
	font-size: 5vw;
	color:#3AAFA9;
}
h3 {
	color:#DEF2F1;
	line-height: 20%;
	text-align: left;
	font-size: 6vw;
}
h4 {
	line-height: 20%;
	text-align: left;
	font-size: 5vw;
	color:#3AAFA9;
	margin-bottom: 3vw;
	padding: 15px;
}
nav{
	position: absolute;
	left: 0px;
	right: 0px;
	background: rgba(241, 145, 38, 0.7);
	overflow: hidden;
}
nav a {
  text-align: center;
	float: right;
	padding: 10px;
	display: table;
	content: "";
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	margin: 1.5%;
	font-size: 1.0vw;
	text-decoration:none;
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}

.link{
	font-size: 2.2vw;
	color:#DEF2F1;
}
.navbar{
	background: #A9B7DB;
	box-shadow: 3px 3px 5px 6px #000000;
}
.bodytext{
	align-self: auto;
}
.imfcontainer{
	float: left;
}
.img1{
	border: 10px solid #1AA5A7;
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.img2{
	width: 100%;
	height: auto;
}
.spread{
	padding-top: 25%;
	padding-bottom: 25%;
}
.buttons{
	text-align: center;
	float: right;
	width: 10%;
	display: table;
	content: "";
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	margin: 1.5%;
}
hr{
	border-width: thick;
	border-style: solid;
}
/*Grid System for Desktops*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after { /*resets natural flow of page*/
  content: "";
  clear: both;
  display: table;
}

/* Dropdown Button */
.dropdown{
	width: 10%;
	max-width: 100px;
	position: fixed;
	left: 0;
	top: 0;
}
.menuicon{
	width: 100%;
}
.menuitems{
	width:100%;
}
ul {
  display: inline;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
ul li ul{
	display: none;
}
ul li:hover ul {
	display: block;
	margin: 0;
	padding: 0;
	vline-height: 1em
}
.vid-container{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%; /* 9/16 (Don't change) */
	
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.banner {
	float: left;
	width: 30.33333%;
	display: table;
	content: "";
	border: 5px solid #000000;
	border-radius: 15px;
	background: #D0D0D0;
	margin: 1.5%;
}
.banner img{
	border: 10px solid #1AA5A7;
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.social{
	width: 20%;
	float: left;
  	padding: 10px;
}
.social img{
	border: 10px 10px 0px 10px solid #1AA5A7;
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.bannertext{
	padding-left: 7px;
}


@media screen and (max-width: 1100px) { /* Mobile view */

	body{
		margin-left: 10%;
		margin-right: 10%;
		font-size: 3.0vw;
	}
	.banner {
		width: 97%;
	}
	.banner img{
		border: 5px solid #FFFFFF;
		object-fit: cover;
		width: 100%;
		height: 500px;
		overflow: hidden;
		border-radius: 15px;
	}
	.col-4{
		width: 100%;
	}
	.col-8{
		width: 100%;
		font-size: 3.0vw;
	}
}