@charset "utf-8";

* {
  box-sizing: border-box;
}
.main{
	margin:0;
	padding-right: 15%;
	padding-left: 15%;
	text-align: center;
	align-content: center;
	background-color:#FFFFFF;
	color:#000000;
	font-size: 2.0vw;
	background-image: url("ballislife.jpg");
  	background-repeat: no-repeat;
	background-size: contain;
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}
body{
	margin:0;
	padding-right: 15%;
	padding-left: 15%;
	text-align: center;
	align-content: center;
	background-color:#FFFFFF;
	color:#000000;
	font-size: 2.0vw;
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	color:#FFFFFF;
	text-shadow: 0px 0px 5px #000000;
	line-height: 20%;
}
h2 {
	color: #FFFFFF;
	text-shadow: 0px 0px 5px #000000;
	font-size: 2.0vw; 
}
input[type=text] {
    border: 2px solid #EBEBEB;
    border-radius: 5px;
	width: 100%;
}
input[type=password] {
    border: 2px solid #EBEBEB;
    border-radius: 5px;
	width: 100%; 
}
input[type=submit] {
    border: 2px solid #EBEBEB;
    border-radius: 5px;
	width: 100%; 
	height: 50px;
}
.logo{
	float:left;
	width: 6%;
	text-align: left;
}
img{
	width: 100%;
}
h3 {
	color:#F19126;
	line-height: 20%;
	text-align: left;
	font-size: 4vw;
}
p{
	text-align: left;
	margin-top: 1vw;
	margin-bottom: 1vw;
}
h4 {
	line-height: 20%;
	text-align: left;
	font-size: 1.5vw;
	color:#F1950E;
	margin-bottom: 0px;
	padding: 15px;
}
hr{
	color: #F09918;	
}
nav{
	position: fixed;
	left: 0px;
	right: 0px;
	padding-right: 2%;
	background: rgba(241, 145, 38, 0.7);
	overflow: hidden;
}
.buttons{
	float: right;
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
	display: table;
	content: "";
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	margin: 1.5%;
	font-size: 1.5vw;
	text-decoration:none;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	left: 50%;
	}
nav a .buttons{
	float: right;
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
	display: table;
	content: "";
	border: 2px solid #FFFFFF;
	border-radius: 30px;
	margin: 1.5%;
	font-size: 1.5vw;
	text-decoration:none;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	left: 50%;
}
.person{
    box-shadow: 1px 1px 7px rgba(33,33,33,.7);
	align-content: center;
	text-align: center;
	float: left;
	padding: 15px;
	width: 30.33333%;
	display: table;
	content: "";
	background: #FFFFFF;
	margin: 1.5%;
}
.login{
    box-shadow: 1px 1px 7px rgba(33,33,33,.7);
	align-content: center;
	text-align: center;
	float: left;
	padding: 15px;
	width: 30.33333%;
	display: table;
	content: "";
	background: #FFFFFF;
	margin-left: 34.8333%;
	margin-right: 34.8333%;
}
.bio{
	box-shadow: 1px 1px 7px rgba(33,33,33,.7);
	align-content: center;
	text-align: center;
	float: left;
	padding: 15px;
	width: 75%;
	display: table;
	content: "";
	background: #FFFFFF;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
.bio p{
	
}
.bio h3{
	font-size: 2vw;
	line-height: 10px;
}
.person img{
	border-radius: 50%;
}
a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}

.link{
	font-size: 2.2vw;
	color:#DEF2F1;
}
.navbar{
	background: #A9B7DB;
	box-shadow: 3px 3px 5px 6px #000000;
}
.bodytext{
	align-self: auto;
}
.imfcontainer{
	float: left;
}
.img1{
	border: 10px solid #1AA5A7;
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.img2{
	width: 100%;
	height: auto;
}
.spread{
	padding-top: 25%;
	padding-bottom: 25%;
	align-content: center;
	align: center;
}
hr{
	border-width: thick;
	border-style: solid;
}
/*Grid System for Desktops*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {
	width: 33.33%;
	color: #F09918;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {
	width: 66.66%;
	text-align: left;
}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after { /*resets natural flow of page*/
  content: "";
  clear: both;
  display: table;
}

/* Dropdown Button */
.dropdown{
	width: 10%;
	max-width: 100px;
	position: fixed;
	left: 0;
	top: 0;
}
.menuicon{
	width: 100%;
}
.menuitems{
	width:100%;
}
ul {
  display: inline;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
ul li ul{
	display: none;
}
ul li:hover ul {
	display: block;
	margin: 0;
	padding: 0;
	vline-height: 1em
}
.vid-container{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%; /* 9/16 (Don't change) */
	
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.banner {
	align-content: center;
	text-align: center;
	float: left;
	padding: 15px;
	width: 30.33333%;
	display: table;
	content: "";
	border: 5px solid #FFFFFF;
	border-radius: 15px;
	background: #EFEFEF;
	margin: 1.5%;
}
.banner h3 {
	text-align: center;
	color:#F19126;
	line-height: 20%;
	text-align: left;
	font-size: 2vw;
}
.social{
	width: 20%;
	float: left;
  	padding: 10px;
}
.social img{
	border: 10px 10px 0px 10px solid #1AA5A7;
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.bannertext{
	padding-left: 7px;
}


@media screen and (max-width: 1100px) { /* Mobile view */

	body{
		font-size: 3.0vw;
	}
	.banner {
		width: 97%;
	}
	.person{
	width: 97%;
	background: #FFFFFF;
	margin: 1.5%;
}
	.login{
	width: 97%;
	background: #FFFFFF;
	margin: 1.5%;
}
	.banner h3 {
		text-align: center;
		color:#F19126;
		line-height: 20%;
		text-align: left;
		font-size: 3vw;
	}
}